.ant-picker-active-bar{
    display: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gray !important;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:gray !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: gray !important;
  }

  .ant-picker.ant-picker-borderless>.ant-picker-input:nth-child(3)>input{
      text-align: right !important;
      margin-right: 8px;
  }
  .ant-picker {
      flex: 1;
  }

.ant-picker-dropdown-placement-topLeft .ant-picker-range-arrow{
    display: none !important;
}

.ant-picker-range-separator {
    padding: 0px !important;
}